#give_header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    background-image: url(../../../assets/Form-Hero-Image.jpg);
    background-position: -300px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header_nav {
    margin-bottom: 10px;
    text-align: right;
    ul li {
        padding: 10px;
        margin-left: 10px;
        display: inline-block;
        border: 1px solid transparent;
        a {
            text-decoration: none;
            color: black;
        }
        &:hover {
          color: #666;
          border: 1px solid black;
        }
    }
}

.user_nav {
    margin-bottom: 10px;
    ul li {
        padding: 10px;
        margin-left: 10px;
        display: inline-block;
        border: 1px solid transparent;
        a {
            text-decoration: none;
            color: black;
        }
        &:hover {
          color: #666;
          border: 1px solid black;
        }
  }
}

// .main_section_right { 
//     width: 50%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-start;
// }
