#header:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -99;
    background-image: url(../../../assets/Home-Hero-Image.jpg);
    background-repeat: no-repeat;
    background-position: -300px;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

#header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;


    .main_section { 
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: calc(25px - 0.5vw);
            margin: 0 50px 0 50px;
            background-color: white;
            border: 1px solid black;
            text-align: center;
            p {
                font-size: calc(15px + 1vw);
                margin: 10px 0px;
            }
            img {
                padding-top:25px;
            }
        }
    }

    .buttons_container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        button {
            width: 200px;
            font-size: 25px;
            margin-left: 20px;
            background-color: white;
            padding: 20px;
            border: 1px solid black;
            a {
                color:black;
                text-decoration: none;
            }
        }
        button:first-child {
            margin-left: 0px;
        }
        button:hover {
            background-color: $yellowish_color;
        }
    }

}

@media only screen and (max-width: 900px) {

    #header .main_section .buttons_container {
        flex-direction: column;
        button {
            margin: 10px;
        }
    }
}

@media only screen and (max-width: 1400px) {

    #header:before, #give_header:before {

        background-position: -600px;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }

    #header .main_section, #give_header .main_section{ 
        align-items: center;
    }
}
    
