#about_us {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .content_wrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p:first-child {
            font-size: 30px;
            text-align: center;
        }

        > p {
            font-size: 25px;
            text-align: center;
        }
    
        img {
            margin: 30px 0 20px 0;
        }

        img.signature {
            margin: 30px 0 20px 0;
            align-self: flex-end;
        }
    }
}

.about_section_right, .about_section_left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.about_section_left {
    box-sizing: border-box;
    padding: 50px 0;
    background-color: $whitish_color;
}

.about_section_right {
    height: 100vh;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/People.jpg);
    background-size: cover;
}


@media (max-width: 1000px) {
    #about_us {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .about_section_right, .about_section_left {
        width: 100%;
    }
}


