#simple_steps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .description {
        padding: 50px 0px 50px 0px;
        font-size: 28px;
        text-align: center;
        img {
            margin: 20px 0 0 0;
        }
    }
    .buttons_container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        button {
            width: 200px;
            font-size: 25px;
            margin-left: 20px;
            background-color: white;
            padding: 20px;
            border: 1px solid black;
            a {
                color:black;
                text-decoration: none;
            }
        }
        button:first-child {
            margin-left: 0px;
        }
        button:hover {
            background-color: $yellowish_color;
        }
    }
}

.steps {
    width: 100%;
    background-color: $whitish_color;
    ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        li {
            display: flex;
            padding: 50px;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            img {
                margin-bottom: 5px;
            }
            hr {
                border-color: black;
                width: 30%;
            }
        }
    }
}


@media (max-width: 1000px) {

    .steps ul {
        flex-direction: column;
    }

}